name: pre-commit
on: [push]
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "~1.25.0"
      - run: go version
      - run: go install golang.org/x/tools/cmd/goimports@latest
      - name: pre-commit
        uses: pre-commit/action@v3.0.1
